---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(fmt|spdlog|glm|catch2|imgui|implot|miniaudio|sokol|kiss)'
    Priority: 2
  - Regex: '^<.*\.h>'
    Priority: 3
  - Regex: '^<'
    Priority: 4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: true
FixNamespaceComments: true
...
